
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Fraunces&family=Gothic+A1&family=IBM+Plex+Mono:ital,wght@1,300&family=Montserrat:wght@500;700&family=Orbitron&family=Oswald:wght@300&family=Playfair+Display:wght@500&family=Roboto:wght@100;400&family=Rock+3D&family=Rouge+Script&family=Wavefont:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

@keyframes slide-in {
    0% {transform: translateY(150px); }   
  100% {transform: translateY(0); }
}

header{
    text-align: center;
    width:100%;
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #131212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    overflow-x: hidden;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
}
.fonts4{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 20px;
}
.font4 a{
    text-decoration: none;
    color:inherit;
}
#menu_list{
    background-color: #131212;
    visibility: hidden;
    font-size: 0px;
    padding:0px;
    margin: 0px;
}
#menu_list ol{
    width:100%;
    background-color:#131212;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    list-style-type:none;
}
#menu_list li{
    color:white;
    text-decoration: none;
    padding-left: 50px;
}
.font2{
    font-family: 'Montserrat', sans-serif;
    width: 100%;    
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.font4{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 20px;
}
.font4 a{
    text-decoration: none;
    color:inherit;
}
.head{
    margin-top: 25px;
    margin-bottom:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    font-family: 'Orbitron', sans-serif;
    font-size:25px;
}
.write_up{
    width:100%;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
}
.write_up_image{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}
.pioneers{
    padding:25px;
    width:220px;
    height:300px;
}
.pioneers_r{
    padding:25px;
    width:450px;
    height:300px;
    filter:grayscale(1)
}
.write_up_text{
    height:250px;
    padding:25px;
    margin-left: 25px;
    width:50%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}
.write_up_text_b{
    height:300px;
    padding:25px;
    margin-left: 25px;
    width:50%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}
.write_up_text h3{
    padding-bottom:10px;
    font-family: 'Montserrat', sans-serif;
}
.write_up_text_b h3{
    padding-bottom:15px;
    font-family: 'Montserrat', sans-serif;
}
.tail{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-block:50px;
}
footer{
    width:100%;
    background-color: #131212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.f-font{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:20px;
}
.list{
    height:150px;
    width:100%;
    display: flex;
    padding:15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.list ul{
    list-style-type: none;
}
.list ul li{
    padding-top:10px;
}
.final{
    padding:10px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.Logo{
    filter:invert(1);
    opacity:0.75;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
}
.icon{
    width:35px;
    height:35px;
}